@import url(https://fonts.googleapis.com/css?family=Montserrat:300&subset=latin-ext);

.divisoria {
  width: 100%;

  margin-bottom: 3em;
}

.mapa {
  margin: 0 auto;
}

body {
  -moz-osx-font-smoothing: grayscale;

  -ms-flex-direction: column;

  -webkit-box-direction: normal;

  -webkit-box-orient: vertical;

  -webkit-font-smoothing: antialiased;

  background: #f5f5f5;

  background-image: url("https://cdn.discordapp.com/attachments/541387607649812500/697072173097156638/Sem_Titulo-1.jpg");

  background-repeat: no-repeat;

  background-attachment: fixed;

  background-size: cover;

  color: #eeeeee;

  display: flex;

  flex-direction: column;

  font-family: Montserrat, sans-serif;

  font-size: 1em;

  font-weight: 300;

  min-height: 100vh;

  text-align: justify;
}

h1 {
  font-weight: 200;

  font-size: 2.2rem;

  color: #222;

  text-align: center;
}

#nav {
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
#nav > a {
  color: #eeeeee;
  margin-inline: 1vw;
  text-decoration: none;
}
.dropdown {
  display: none;

  position: absolute;

  background: #fff;

  box-shadow: 0 4px 10px rgba(10, 20, 30, 0.4);
}

.imagembarra {
  width: 100%;
}

.dropdown {
  display: none;

  position: absolute;

  background: #fff;

  box-shadow: 0 4px 10px rgba(10, 20, 30, 0.4);
}

.duvidas {
  margin: 0 auto;

  text-align: center;
}

.comoeuchego {
  margin: 0 auto;

  text-align: center;
}

.mapa {
  margin: 0 auto;

  max-width: 80vw;

  text-align: center;

  transition: all 1s;
}

.endereco {
  margin: 0 auto;

  text-align: center;
}

.texto {
  margin: 0 auto;

  transition: all 1s;

  text-align: center;
}

.imagem {
  margin: 0 auto;

  max-width: 40vw;

  transition: all 0.4s;

  margin-left: 50px;
}
.imagem-animais {
  margin: 0 auto;

  max-width: 40vw;

  text-align: center;

  transition: all 0.4s;

}

.bota {
  margin-top: 5em;

  width: 12vw;

  height: 5.5vw;

  border: none;

  transition: all 1s;

  font-size: 1.25vw;

  cursor: pointer;

  font-family: Montserrat, sans-serif;

  background: #56ab2f;

  background: -webkit-linear-gradient(to right, #a8e063, #56ab2f); 

  background: linear-gradient(to right, #a8e063, #56ab2f); 
  
  color: #fff;
}

.botou {
  width: 38vw;

  margin: 0 auto;

  transition: all 1s;
}

#aves {
  color: white;
}

.imagematlantica {
  margin: 0 auto;

  max-width: 40vw;

  text-align: left;

  transition: all 0.4s;
}

#link:link {
  color: green;

  text-decoration: none;
}

#link:visited {
  color: green;

  text-decoration: none;
}

#link:hover {
  color: red;

  text-decoration: none;
}

#link:active {
  color: green;

  text-decoration: none;
}
#fc {
  width: 1vw;
  justify-content: center;
  align-items: center;
}
.perguntas {
  margin-top: 10px;
  margin: 0 auto;
  padding-top: 2em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}
.perguntas:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.texto {
  margin-top: 4.5em;
  transition: all 1s;
}
.texto-sobre {
  margin-top: 4.5em;
  transition: all 1s;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}
.letrasso{
  color: #f5f5f5;
  font-size: 30px;
}

.card-animais{
  text-align: center;

  margin-right: 5px;
}

.texto-sobre{
  float: right;
}
.imagemsobre {
  margin: 0 auto;
  max-width: 40vw;
  transition: all 0.4s;
  margin-left: 50px;
  float: left;
}